## Deliverable 3. Create a Travel Itinerary Map.

In [50]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("/Users/tkoid/OneDrive/Desktop/GW Bootcamp/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,6,Avarua,CK,80.60,light rain,-21.2078,-159.7750,Paradise Inn
1,8,Busselton,AU,82.00,clear sky,-33.6500,115.3333,Observatory Guest House
2,12,Hambantota,LK,84.20,clear sky,6.1241,81.1185,Bungalow 63
3,27,Kavieng,PG,82.35,light rain,-2.5744,150.7967,Nusa Island Retreat
4,31,Kudahuvadhoo,MV,83.95,scattered clouds,2.6708,72.8944,Niyama Private Islands Maldives

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [90]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [91]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities.
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['City']== 'Metro')]
vacation_end = vacation_df.loc[(vacation_df['City']== 'Metro')]
vacation_stop1 = vacation_df.loc[(vacation_df['City']== "Palembang")]
vacation_stop2 = vacation_df.loc[(vacation_df['City']== "Padang")] 
vacation_stop3 = vacation_df.loc[(vacation_df['City']== "Bengkulu")]

In [92]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [93]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
travel_itinerary1 = gmaps.directions_layer(
        start, end, waypoints=[start, stop1],
        travel_mode='DRIVING')
travel_itinerary2 = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2],
        travel_mode='DRIVING')
travel_itinerary3 = gmaps.directions_layer(
        start, end, waypoints=[stop2, stop3],
        travel_mode='DRIVING')
travel_itinerary4 = gmaps.directions_layer(
        start, end, waypoints=[stop3, end],
        travel_mode='DRIVING')

fig.add_layer(travel_itinerary1)
fig.add_layer(travel_itinerary2)
fig.add_layer(travel_itinerary3)
fig.add_layer(travel_itinerary4)
fig

Figure(layout=FigureLayout(height='420px'))

In [97]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,193,Metro,ID,86.99,overcast clouds,-5.1131,105.3067,OYO 3177 Wisma Lintang
1,470,Palembang,ID,89.60,broken clouds,-2.9167,104.7458,ASTON Palembang Hotel & Conference Center
2,632,Padang,ID,86.00,moderate rain,-0.9492,100.3543,Mercure Padang
3,99,Bengkulu,ID,85.24,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
4,193,Metro,ID,86.99,overcast clouds,-5.1131,105.3067,OYO 3177 Wisma Lintang

In [98]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [99]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))